/* color: #F7EBD4; => Dark Grey */
/* color: #2D2D2F; => Dark Grey */
/* color: ##EB9A98; => Pink */

/* Secondary */
/* color: #543828; => Chocolate */
/* color: #DD715A; => Orange */
/* Accent */
/* color: #EfCf83; => Yellow */

.GurmukhiScriptTuk {
  /* color: #EfCf83; */
  color: #543828;
  font-family: 'Gurbani Akhar Bold';
  font-size: 1.4em;
}

.EnglishTranslit {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #2D2D2F;
  opacity: 0.7;
}

.Translation {
  font-family: 'Playfair Display', serif;
  color: #2D2D2F;
}

.PauriContainer {
  margin-bottom: 15px;
}

@media screen and (min-width: 64em) {
  /*  Also do the Same for last Pauri */
  .PauriContainer:last-child {
    margin-bottom: 4em;
  }
}