/* color: #F7EBD4; => Dark Grey */
/* color: #2D2D2F; => Dark Grey */
/* color: ##EB9A98; => Pink */

/* Secondary */
/* color: #543828; => Chocolate */
/* color: #DD715A; => Orange */
/* Accent */
/* color: #EfCf83; => Yellow */

.GurmukhiScriptTuk {
  /* color: #EfCf83; */
  color: #543828;
  font-family: 'Gurbani Akhar Bold';
  font-size: 1.4em;
}

/* Dark Mode */
.DarkMode .GurmukhiScriptTuk {
  color: #F7EBD4;
}

.EnglishTranslit {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #2D2D2F;
  opacity: 0.7;
}

/* Dark Mode */
.DarkMode .EnglishTranslit {
  color: #F7EBD4;
  opacity: 0.7;
}


.Translation {
  font-family: 'Playfair Display', serif;
  color: #DD715A;
  font-weight: 500;
}

.DarkMode .Translation {
  color: #EFCF83;
}

.PauriContainer {
  margin-bottom: 25px;
}

@media screen and (min-width: 64em) {
  .PauriContainer:last-of-type {
    margin-bottom: 5em;
  }
}