/* Regular Colour Mode */
.GurmukhiScriptChhandName {
  /* color: #EB9A98; */
  /* color: #DD715A; */
  color: #2D2D2F;
  font-family: 'Gurbani Akhar Black';
  font-size: 1.4em;
  margin: 0;
}

/* .GurmukhiScriptChhandNameDark {
  color: #EB9A98;
  font-family: 'Gurbani Akhar Black';
  font-size: 1.8em;
  margin: 0;
} */

.ChhandContainer {
  margin-bottom: 15px;
}


@media screen and (min-width: 40em) {
  .ChhandContainer:first-child {
    margin-top: 4em;
  }
  
  /*  Also do the Same for last Pauri */
}