/* Regular Colour Mode */
.GurmukhiScriptChhandName {
  /* color: #EB9A98; */
  /* color: #DD715A; */
  color: #2D2D2F;
  font-family: 'Gurbani Akhar Black';
  font-size: 1.4em;
  margin: 0;
}


.DarkMode .GurmukhiScriptChhandName {
  color: #EB9A98;
  /* color: #F7EBD4; */
}

.ChhandDiv {
  margin-bottom: 15px;
  text-align: left;
}


@media screen and (min-width: 40em) {
  .ChhandDiv:first-child {
    margin-top: 4em;
  }
  
  /*  Also do the Same for last Pauri */
}