#prasang-cover {
  position: relative;
}

#prasang-cover img {
  width: 100%;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
  color: #FFF;
  opacity: 0.6;
}

.text-overlay {
  position: absolute;
  top: 0;
  padding: 0.25em 1em;
}

.text-overlay.title {
  background: #000;
}