.ArtworkContainer {
  width: 200px;
  height: 200px;
  position: relative;
}

.Artwork {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 200px;
  height: 200px;
  
}

.ItemContainer {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  /* background:peachpuff; */
}

.Circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #EFCf83;
  color: #2D2D2F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -16px;
  left: calc(50% - 16px);
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ChapterNameFaded {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.1px;
  opacity: 0.3;
}

.ChapterNameMain {
  font-family: 'Gurbani Akhar Black';
  font-size: 18px;
}

.TextContainer {
  margin-top: 16px;
}