.ChapterContainer {
  margin: 15px 0;
}
.ChapterTitle {
  margin-top: 5px;
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: left;
}

.MobileTextContainer {
  color: #DD715A;
  margin: 2em 0;
}

/* Dark Mode */
.DarkMode .MobileTextContainer {
  color: #EB9A98;
}

.ChapterNumberEnglish {
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}

.ImageContainer {
  display: none;
}

.ChhandContainer {
  padding: 0 0.9375rem;
}

@media screen and (min-width: 40em) {

  .RemoveDesktopPadding {
    padding: 0rem;
    position: relative;
  }

  .ChhandContainer {
    height: 100vh;
    overflow-y: scroll;
    text-align: left;
  }

  .ImageContainer {
    display: inherit;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
  }

  .DesktopTextContainer {
    color: #F7EBD4;
  }  

  .DesktopImage {
    object-fit: cover;
    height: 100%;
    opacity: 0.4;
  }

  .MobileTextContainer {
    display: none;
  }

  .ChapterTitle {
    margin: 5px 0;
  }

  .DesktopTextContainer {
    padding: 0.9375rem;
    position: absolute;
    top: 40%;
    background: rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 64em) {
  .DesktopImage {
    width: 100%;
  }

  .DesktopTextContainer {
    width: 50%;

  }
}